* {
  font-family: 'Noto Serif KR', 'Noto Serif', serif;
  box-sizing: border-box;
}

html {
  font-size: 13px;
}

@media (min-width: 480px) {
  html {
    font-size: 17px;
  }

  header {
    padding: 20px;
  }

  figure.canvas .canvas-img {
    display: block;
  }
  figure.canvas .canvas-img-mobile {
    display: none;
  }
}

body,
figure {
  margin: 0;
}

h1,
h2,
h3,
p,
button {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: auto;
}

figure.canvas {
  height: 100vh;
  display: flex;
  align-items: center; /* 수직정렬 어떻게 가능한거지 */
}

.canvas-img {
  display: none;
}

figure > figcaption {
  text-align: left;
  font-size: 0.9rem;
}

section {
  padding: 4vw;
  text-align: center;
  word-break: keep-all;
}

ul {
  padding-inline-start: 0;
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  z-index: 9;
}

div.header__title {
  display: flex;
  gap: 3vw;
  justify-content: space-around;
}

header h1 {
  font-weight: 500;
  margin: 0;
}

.item--heading {
  text-align: center;
  margin: 20px 0;
}

.item--content {
  text-align: left;
  margin: 10px 0;
}

section.video {
  margin: 0 5vw;
  height: calc(315 * 90vw / 560);
  padding: 0;
}

section.video iframe {
  width: 100%;
  height: 100%;
}

article.detail {
  padding: 4%;
}

button {
  background-color: transparent;
  border: solid 0;
  padding: 0;
  cursor: pointer;
}

button:hover {
  color: rgba(0, 0, 0, 0.411);
}

section.performance ~ p {
  padding: 3px;
}

.list-item--heading {
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 20px;
}

.list-item--heading > p:last-child {
  color: rgba(0, 0, 0, 0.712);
  font-weight: 400;
  font-size: 0.9rem;
}

.list-item--heading > p:nth-child(2) {
  display: inline;
  border-bottom: 1px solid;
}

article.detail {
  border: 1px solid rgba(0, 0, 0, 0.411);
  position: relative;
  margin: 3% 0;
}

/*

close button 1: csslayout.io (https://csslayout.io/patterns/close-button/)

button.close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
}

button.close div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.712);
}


button.close div:first-child {
  left: 0px;
  top: 50%;
  height: 1px;
  width: 100%;
  transform: translate(0%, -50%) rotate(45deg);
}

button.close div:last-child {
  left: 50%;
  top: 0px;
  height: 100%;
  width: 1px;
  transform: translate(-50%, 0%) rotate(45deg);
}
*/

/*
close button 2: "Virtual Station" original css rules
*/

button.close {
  position: absolute;
  right: 20px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
}

button.close div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.712);
}

button.close div:first-child {
  height: 1px;
  width: 100%;
  transform: rotate(45deg);
}

button.close div:last-child {
  height: 1px;
  width: 100%;
  transform: rotate(-45deg);
}

hr {
  width: 92vw;
}
